<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Erudyte Commons</title>

    <!-- SEO Meta Tags -->
    <<meta name="description" content="Erudyte Commons">
    <meta name="keywords" content="teacher hub, educator network, STEM education, brand resources, workforce impact, inclusive education, language accessibility, neurodiverse learning, learning resources, online courses, conference landing, e-learning, teaching tools, teacher training, education platform">
    <meta name="author" content="Erudtion Inc">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="assets/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle-messages.css"/>
    <link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="assets/css/messages-theme.css">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


            <!-- Navbar -->
     <!-- User logged in state. User account dropdown -->
     <%- include('navbar') %>
      
      <!-- Hero -->
      <section class="position-relative pt-5">

        <!-- Background -->
        <div class="position-fixed top-0 start-0 w-100 bg-position-bottom-center bg-size-cover bg-repeat-0">
          <div class="d-lg-none" style="height: 960px;"></div>
          <div class="d-none d-lg-block" style="height: 768px;"></div>
        </div>
        
<<!-- Account messages -->
<div class="col-md-8 col-lg-9 pb-5 mb-lg-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
  <div class="ps-md-3 mt-md-2 pt-md-4 pb-md-2">
    <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden">

      <!-- Contacts list -->
      <div class="col-lg-4">
        <div id="contactsList" class="offcanvas-lg offcanvas-start position-absolute position-lg-relative h-100 bg-secondary shadow-none border-end" data-bs-scroll="true" data-bs-backdrop="false" style="max-height: 712px;">
          <div class="card-header w-100 border-0 p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0">Messages</h1>
              <button type="button" class="btn btn-link nav-link bg-faded-primary-hover d-lg-none py-2 ps-2 pe-3 me-n3" data-bs-dismiss="offcanvas" data-bs-target="#contactsList">
                <i class="bx bx-x fs-xl me-1"></i>
                Close
              </button>
            </div>
            <div class="position-relative">
              <input type="text" class="form-control pe-5" placeholder="Search">
              <i class="bx bx-search fs-xl text-nav position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>
          </div>
          <div class="card-body swiper scrollbar-hover overflow-hidden w-100 p-0" data-swiper-options='{
            "direction": "vertical",
            "slidesPerView": "auto",
            "freeMode": true,
            "scrollbar": {
              "el": ".swiper-scrollbar"
            },
            "mousewheel": true
          }'>
            <div class="swiper-wrapper">
              <div class="swiper-slide h-auto">

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/19.jpg" class="rounded-circle" width="40" alt="Devon Lane">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Devon Lane</h6>
                      <span class="fs-xs text-muted">18:02</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Dolor, quam habitant...</p>
                  </div>
                </a>

                <!-- Contact (active) -->
                <a href="#" class="position-relative d-flex align-items-start border-bottom text-decoration-none bg-light pe-none py-3 px-4">
                  <div class="position-absolute top-0 start-0 bg-primary w-2 h-100"></div>
                  <img src="assets/img/avatar/20.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Albert Flores</h6>
                      <span class="fs-xs text-muted">17:33</span>
                    </div>
                    <p class="fs-sm text-body mb-0">You are welcome 😊</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/21.jpg" class="rounded-circle" width="40" alt="Bessie Cooper">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Bessie Cooper</h6>
                      <span class="fs-xs text-muted">12:04</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Typing...</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/22.jpg" class="rounded-circle" width="40" alt="Ronald Richards">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Ronald Richards</h6>
                      <span class="fs-xs text-muted">08:00</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Ok 👌</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/23.jpg" class="rounded-circle" width="40" alt="Robert Fox">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Robert Fox</h6>
                      <span class="fs-xs text-muted">14 Nov</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Praesent ut mi.</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/24.jpg" class="rounded-circle" width="40" alt="Jerome Bell">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Jerome Bell</h6>
                      <span class="fs-xs text-muted">8 Oct</span>
                    </div>
                    <p class="fs-sm text-body mb-0">In pretium a eget nunc...</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/25.jpg" class="rounded-circle" width="40" alt="Kathryn Murphy">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Kathryn Murphy</h6>
                      <span class="fs-xs text-muted">16 Sep</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Tempor amet?</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/26.jpg" class="rounded-circle" width="40" alt="Dianne Russell">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Dianne Russell</h6>
                      <span class="fs-xs text-muted">27 Aug</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Vehicula accumsan leo.</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start border-bottom text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/27.jpg" class="rounded-circle" width="40" alt="Cody Fisher">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Cody Fisher</h6>
                      <span class="fs-xs text-muted">18 Aug</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Erat cum amet viverra...</p>
                  </div>
                </a>

                <!-- Contact -->
                <a href="#" class="d-flex align-items-start text-decoration-none bg-faded-primary-hover py-3 px-4">
                  <img src="assets/img/avatar/28.jpg" class="rounded-circle" width="40" alt="Darlene Robertson">
                  <div class="w-100 ps-2 ms-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 me-2">Darlene Robertson</h6>
                      <span class="fs-xs text-muted">13 Jul</span>
                    </div>
                    <p class="fs-sm text-body mb-0">Orci convallis eget sit...</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-scrollbar end-0"></div>
          </div>
        </div>
      </div>

      <!-- Chat window -->
      <div class="col-lg-8" style="max-height: 712px;">
        <div class="card h-100 border-0 bg-transparent pb-3">

          <!-- Header -->
          <div class="navbar card-header d-flex align-items-center justify-content-between w-100 p-sm-4 p-3">
            <div class="d-flex align-items-center pe-3">
              <button type="button" class="navbar-toggler d-lg-none me-3" data-bs-toggle="offcanvas" data-bs-target="#contactsList" aria-controls="contactsList" aria-label="Toggle contacts list">
                <span class="navbar-toggler-icon"></span>
              </button>
              <img src="assets/img/avatar/20.jpg" class="rounded-circle" width="40" alt="Albert Flores">
              <h6 class="mb-0 px-1 mx-2">Albert Flores</h6>
              <div class="bg-success rounded-circle" style="width: 8px; height: 8px;"></div>
            </div>
            <div class="d-flex">
              <div class="dropdown me-sm-2">
                <button type="button" class="btn btn-outline-primary px-2 px-sm-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bx-dots-horizontal-rounded fs-xl mx-1 mx-sm-0 me-xl-2"></i>
                  <span class="d-none d-xl-inline">More</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end my-1">
                  <a href="#" class="dropdown-item">View profile</a>
                  <a href="#" class="dropdown-item">Disable notifications</a>
                  <a href="#" class="dropdown-item">Edit contact</a>
                  <a href="#" class="dropdown-item">Delete contact</a>
                  <a href="#" class="dropdown-item">Delete chat</a>
                  <a href="#" class="dropdown-item">Clear history</a>
                  <a href="#" class="dropdown-item">Block user</a>
                </div>
              </div>
              <button type="button" class="btn btn-outline-danger d-none d-sm-inline-flex px-2 px-sm-3 ms-1">
                <i class="bx bx-trash-alt fs-xl me-xl-2"></i>
                <span class="d-none d-xl-inline">Clear chat</span>
              </button>
            </div>
          </div>

          <!-- Messages -->
          <div class="card-body swiper scrollbar-hover overflow-hidden w-100 pb-0" data-swiper-options='{
            "direction": "vertical",
            "slidesPerView": "auto",
            "freeMode": true,
            "scrollbar": {
              "el": ".swiper-scrollbar"
            },
            "mousewheel": true
          }'>
            <div class="swiper-wrapper">
              <div class="swiper-slide h-auto">
                <div class="fs-sm text-muted text-center mb-3">November 27, 2021</div>

                <!-- User message -->
                <div class="d-flex align-items-start mb-3">
                  <img src="assets/img/avatar/20.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                  <div class="ps-2 ms-1" style="max-width: 348px;">
                    <div class="bg-secondary p-3 mb-1" style="border-top-right-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">Tellus, ipsum, commodo, dui ac. Ultrices mi arcu orci aliquam et.</div>
                    <div class="fs-sm text-muted">09:04 am</div>
                  </div>
                </div>

                <!-- Own message -->
                <div class="d-flex align-items-start justify-content-end mb-3">
                  <div class="pe-2 me-1" style="max-width: 348px;">
                    <div class="bg-primary text-light p-3 mb-1" style="border-top-left-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">Orci convallis eget sit ultricies rutrum.</div>
                    <div class="d-flex justify-content-end align-items-center fs-sm text-muted">
                      10:36 am
                      <i class="bx bx-check-double fs-xl text-primary ms-2"></i>
                    </div>
                  </div>
                  <img src="assets/img/avatar/29.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                </div>

                <!-- User message -->
                <div class="d-flex align-items-start mb-3">
                  <img src="assets/img/avatar/20.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                  <div class="ps-2 ms-1" style="max-width: 348px;">
                    <div class="bg-secondary p-3 mb-1" style="border-top-right-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">Blandit tempus, erat cum amet viverra pharetra, morbi. Vivamus pretium tristique amet, nulla aenean sed blandit?</div>
                    <div class="fs-sm text-muted">14:48 pm</div>
                  </div>
                </div>

                <!-- Own message -->
                <div class="d-flex align-items-start justify-content-end mb-3">
                  <div class="pe-2 me-1" style="max-width: 348px;">
                    <div class="bg-primary text-light p-3 mb-1" style="border-top-left-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">Vel enim lacus, ac, fermentum, id. Aliquet faucibus pellentesque egestas.</div>
                    <div class="bg-primary text-light p-3 mb-1" style="border-top-left-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">Thank you!</div>
                    <div class="d-flex justify-content-end align-items-center fs-sm text-muted">
                      16:29 pm
                      <i class="bx bx-check fs-xl text-primary ms-2"></i>
                    </div>
                  </div>
                  <img src="assets/img/avatar/29.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                </div>

                <div class="fs-sm text-muted text-center mb-3">November 28, 2021</div>

                <!-- User message -->
                <div class="d-flex align-items-start mb-3">
                  <img src="assets/img/avatar/20.jpg" class="rounded-circle" width="40" alt="Albert Flores">
                  <div class="ps-2 ms-1" style="max-width: 348px;">
                    <div class="bg-secondary p-3 mb-1" style="border-top-right-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">You are welcome 😊</div>
                    <div class="fs-sm text-muted">17:33 pm</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar end-0"></div>
          </div>

          <!-- Footer (Send message form) -->
          <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
            <div class="position-relative w-100 me-2 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-lg" style="padding-right: 85px;">
              <div class="position-absolute top-50 end-0 translate-middle-y d-flex zindex-3 me-2">
                <button type="button" class="btn btn-icon btn-sm btn-link nav-link bg-faded-primary-hover me-1">
                  <i class="bx bx-paperclip fs-4"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm btn-link nav-link bg-faded-primary-hover">
                  <i class="bx bx-smile fs-4"></i>
                </button>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-icon btn-lg d-none d-sm-inline-flex ms-1">
              <i class="bx bx-send"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg w-100 d-sm-none">
              <i class="bx bx-send fs-xl me-2"></i>
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
</main>


    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>

    <!-- Main Theme Script -->
    <script src="assets/js/theme.min.js"></script>
  </body>
</html>
