<div class="page-wrapper">
  <div class="container">
    <form action="/api/courses" method="POST" enctype="multipart/form-data" class="add-course-form">
      <!-- Course Wizard Tabs -->
      <div class="widget-set">
        <div class="widget-setcount">
            <ul id="progressbar">
                <li class="progress-active">
      <ul class="nav nav-tabs" id="courseWizardTabs" role="tablist">
        <li class="nav-item">
          <button class="nav-link active" id="basic-info-tab" data-bs-toggle="tab" data-bs-target="#basic-info" type="button" role="tab" aria-controls="basic-info" aria-selected="true">Basic Information</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="course-media-tab" data-bs-toggle="tab" data-bs-target="#course-media" type="button" role="tab" aria-controls="course-media" aria-selected="false">Course Media</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum" type="button" role="tab" aria-controls="curriculum" aria-selected="false">Curriculum</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
        </li>
      </ul>
    </div>
  </div>

              <!-- Multi-step Form Content -->
              <div class="widget-content multistep-form">
                <div class="tab-content mt-4" id="courseWizardContent">
                  <!-- Basic Information Section -->
                  <div class="tab-content mt-4" id="courseWizardContent">
                <!-- Basic Information Section -->
                <fieldset class="field-card">
                <div class="tab-pane fade show active" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
                    <div class="add-course-info">
                              <h4>Basic Information</h4>
                          </div>
                          <div class="add-course-form">
                              <div class="input-block">
                                  <label class="add-course-label">Course Title</label>
                                  <input type="text" class="form-control" id="courseTitle" name="title" 
                                         placeholder="Course Title" required>
                              </div>
                              
                              <div class="input-block">
                                  <label class="add-course-label">Course Description</label>
                                  <div class="editor-wrapper">
                                      <div class="editor-toolbar">
                                          <select class="format-select">
                                              <option value="p">Paragraph</option>
                                              <option value="h1">Heading 1</option>
                                              <option value="h2">Heading 2</option>
                                          </select>
                                          <button type="button" class="editor-btn" data-command="bold">
                                              <i class="fas fa-bold"></i>
                                          </button>
                                          <button type="button" class="editor-btn" data-command="italic">
                                              <i class="fas fa-italic"></i>
                                          </button>
                                          <button type="button" class="editor-btn" data-command="createLink">
                                              <i class="fas fa-link"></i>
                                          </button>
                                          <button type="button" class="editor-btn" data-command="alignLeft">
                                              <i class="fas fa-align-left"></i>
                                          </button>
                                          <button type="button" class="editor-btn" data-command="alignCenter">
                                              <i class="fas fa-align-center"></i>
                                          </button>
                                      </div>
                                      <div id="editor" class="editor-content" contenteditable="true"></div>
                                      <input type="hidden" name="description" id="courseDescription">
                                  </div>
                              </div>

                              <div class="input-block">
                                  <label class="add-course-label">Start Date</label>
                                  <input type="date" class="form-control" id="courseStartDate" name="startDate" required>
                              </div>

                              <div class="input-block">
                                  <label class="add-course-label">End Date</label>
                                  <input type="date" class="form-control" id="courseEndDate" name="endDate" required>
                              </div>
                          </div>
                          <div class="widget-btn">
                            <button type="button" class="btn-back" disabled>Back</button>
                            <button type="button" class="btn-continue">Continue</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                  <!-- Course Media Section -->
                  <fieldset class="field-card">
                  <div class="tab-pane fade" id="course-media" role="tabpanel" aria-labelledby="course-media-tab">
                              <h4>Course Media</h4>
                          </div>
                          <div class="add-course-form">
                              <div class="input-block">
                                  <label class="add-course-label">Course Cover Image</label>
                                  <div class="relative-form">
                                      <span>No File Selected</span>
                                      <label class="relative-file-upload">
                                          Upload File <input type="file" name="coverImage" accept="image/*">
                                      </label>
                                  </div>
                              </div>
                              <div class="input-block">
                                  <label class="add-course-label">Course Materials (PDF, DOCX)</label>
                                  <div class="relative-form">
                                      <span>No Files Selected</span>
                                      <label class="relative-file-upload">
                                          Upload Files <input type="file" name="materials" multiple accept=".pdf,.docx">
                                      </label>
                                  </div>
                              </div>
                              <div class="input-block">
                                <input type="text" class="form-control" placeholder="Video URL">
                              </div>
                              <div class="input-block">
                                <div class="add-image-box add-video-box">
                                  <a href="javascript:void(0);">
                                    <i class="fas fa-circle-play"></i>
                                  </a>
                                </div>
                              </div>
                          </div>
                          <div class="widget-btn">
                            <button type="button" class="btn-back">Back</button>
                            <button type="button" class="btn-continue">Continue</button>
                          </div>
                        </div>
                      </fieldset>

                  <!-- Curriculum Section -->
                  <fieldset class="field-card">
                  <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
                    <div class="add-course-info">
                            <h4>Curriculum</h4>
                          </div>
                          <div class="add-course-section">
                            <a href="javascript:void(0);" class="btn">Add Section</a>
                          </div>
                          <div class="add-course-form">
                            <div class="curriculum-grid">
                              <div class="curriculum-head">
                                <p>Section 1: Introduction</p>
                                <a href="javascript:void(0);" class="btn">Add Lecture</a>
                              </div>
                              <div class="curriculum-info">
                                <div id="accordion">
                                  <div class="faq-grid">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseOne">
                                         <i class="fas fa-align-justify"></i> Introduction
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="faq-grid">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseTwo">
                                         <i class="fas fa-align-justify"></i> Installing Development Software
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="faq-grid mb-0">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseThree">
                                         <i class="fas fa-align-justify"></i> Hello World Project from GitHub
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="curriculum-grid mb-0">
                              <div class="curriculum-head">
                                <p>Section 1: JavaScript Beginnings</p>
                                <a href="javascript:void(0);" class="btn">Add Lecture</a>
                              </div>
                              <div class="curriculum-info">
                                <div id="accordion-one">
                                  <div class="faq-grid">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour">
                                         <i class="fas fa-align-justify"></i> Introduction
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion-one">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="faq-grid">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFive">
                                         <i class="fas fa-align-justify"></i> Installing Development Software
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion-one">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="faq-grid">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSix">
                                         <i class="fas fa-align-justify"></i> Hello World Project from GitHub
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-bs-parent="#accordion-one">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="faq-grid mb-0">
                                    <div class="faq-header">
                                      <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseSeven">
                                         <i class="fas fa-align-justify"></i> Our Sample Website
                                      </a>
                                      <div class="faq-right">
                                        <a href="javascript:void(0);">
                                          <i class="far fa-pen-to-square me-1"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="me-0">
                                          <i class="far fa-trash-can"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-bs-parent="#accordion-one">
                                      <div class="faq-body">
                                          <div class="add-article-btns">
                                            <a href="javascript:void(0);" class="btn">Add Article</a>
                                            <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                            </div>
                          </div>
                          <div class="widget-btn">
                            <button type="button" class="btn-back">Back</button>
                            <button type="button" class="btn-continue">Continue</button>
                        </div>
                        </div>
                      </fieldset>

                  <!-- Settings Section -->
                  <fieldset class="field-card">
                  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="add-course-info">
                              <h4>Course Settings</h4>
                          </div>
                          <div class="add-course-form">
													<form action="#">
														<div class="input-block input-block-tagsinput">
															<input type="text" data-role="tagsinput" class="input-tags form-control" name="html" value="jquery, bootstrap" id="html">
														</div>
														<div class="input-block mb-0">
															<label class="add-course-label">Price</label>
															<input type="text" class="form-control" placeholder="10.00">
														</div>
													</form>
                          </div>
                          <div class="widget-btn">
                            <button type="button" class="btn-back">Back</button>
                            <button type="submit" class="btn-continue">Submit</button>
                        </div>
                      </div>
              </div>
          </div>
      </form>
  </div>
</div>
</fieldset>

<style>
  /* Styling for the Tabs */
  .nav-tabs .nav-link {
    border: 1px solid #dee2e6;
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #0d6efd;
    color: white;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .tab-pane {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
  }
  
  /* Button Styling */
  .widget-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-continue, .btn-back {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-continue {
    background-color: #0d6efd;
    color: white;
  }
  
  .btn-back {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-back:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  </style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const tabs = document.querySelectorAll(".nav-link");
  const panes = document.querySelectorAll(".tab-pane");
  const backButtons = document.querySelectorAll(".btn-back");
  const continueButtons = document.querySelectorAll(".btn-continue");

  tabs.forEach((tab, index) => {
    tab.addEventListener("click", () => {
      backButtons[index].disabled = index === 0;
    });
  });

  continueButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      if (index < panes.length - 1) {
        tabs[index + 1].click();
      }
    });
  });

  backButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      if (index > 0) {
        tabs[index - 1].click();
      }
    });
  });

  document.getElementById("addSection").addEventListener("click", () => {
    const container = document.getElementById("curriculumContainer");
    const sectionCount = container.children.length;
    const sectionHTML = `
      <div class="curriculum-section mt-3">
        <label>Section Title</label>
        <input type="text" class="form-control" name="curriculum[${sectionCount}][title]" placeholder="Section Title">
        <textarea class="form-control mt-2" name="curriculum[${sectionCount}][description]" placeholder="Section Description"></textarea>
      </div>`;
    container.insertAdjacentHTML("beforeend", sectionHTML);
  });
});
</script>
