<form class="library-form" action="<% if(library_data && library_data.data.type === "Pdf"){ %>/update-library-pdf<% } else { %>/library-pdf-post<% } %>" method="post" enctype="multipart/form-data">
    <div class="form-input-element">
        <section class="form-element-type">Enter Title  </section>
        <section class="form-input-field">
            <input name="title"  <% if(library_data && library_data.data && library_data.type === "Pdf"){%> value = "<%=library_data.data.title%>" readonly style="background:#f5f5f5;"<% } %> type="text" placeholder="Enter Title..." required>
        </section>
    </div>
    <div class="form-input-element">
        <section class="form-element-type">Enter a Description</section>
        <section class="form-input-field">
            <textarea class="textarea-input" name="description" type="text" placeholder="Enter Description..." required><% if(library_data && library_data.data && library_data.type === "Pdf"){%><%=library_data.data.description%> <% } %></textarea>
        </section>
    </div>
    <div class="form-input-element">
        <section class="form-element-type">Upload File</section>
        <div class="form-input-field">
            <label class="file-upload-field" for="file-upload"> <% if(library_data && library_data.data && library_data.type === "Pdf"){%><%=library_data.data.file%> <% } else { %> File Upload <% } %> </label>
            <input class="audio-upload" onChange="updateFileNameUploaded(this)" type="file" name="file-upload" id="file-upload" <% if(!library_data){%>"required"<%}%> >
        </div>
    </div>
    <section class="form-btn-section">
        <button class="reset-btn" type="reset">Clear</button>
        <button type="submit" class="submit-article-form submit-btn"><span class="submit-progress"></span><i class="fa-solid fa-paper-plane z-idx10 "></i>  <span class="z-idx10 "> Post PDF</span></button>
    </section>
</form>
