<div class="tab-pane fade <% if(library_data){%> active show<% } %> " id="ecommerce" role="tabpanel" aria-labelledby="ecommerce-tab">
    <h3>Select Library Post Type:</h3>
    <div class="library-type-options" >
      <div class="library-post-btn article-post <% if(library_data && library_data.type === 'Article'){%> active-library-type <% } %>" ><i class="fa-solid fa-file-lines"></i>   Article/Blog</div>
      <div class="library-post-btn pdf-post     <% if(library_data && library_data.type === 'Pdf'){%> active-library-type <% } %>" ><i class="fa-solid fa-file-pdf"></i>   PDF</div>
      <div class="library-post-btn course-post  <% if(library_data && library_data.type === 'course'){%> active-library-type <% }%>" ><i class="fa-solid fa-book"></i>    Course/Module</div>
    </div>
    <section class="divider"></section>
    <div class="library-form-container">
      <%- include("../postComponents/library-article-form") %>
      <%- include("../postComponents/library-pdf-form") %>
      <%- include("../postComponents/library-course-form") %>
    </div>
</div>

<script>
  const library_post_btns = [...document.querySelectorAll('.library-post-btn')]
  const library_forms = [...document.querySelectorAll('.library-form')]

  const displayForm = (idx)=>{
    // display the corrosponding library form 
    library_forms.forEach((item,index)=>{
        if(index == idx){
          item.style.display = 'grid'
          // indicate active library btn
          library_post_btns[index].classList.add('active-library-type')
        }
        else {
          item.style.display = 'none'
          library_post_btns[index].classList.remove('active-library-type')
        }
    })
    
  }

  library_post_btns.forEach((btn,idx)=>{
    btn.addEventListener('click',()=>{
      displayForm(idx);
    })
  })

  //default to display article form
   if(library_data && library_data.type === 'Pdf'){
      displayForm(1)
   } else if(library_data && library_data.type === 'course'){
    displayForm(2)
   }else {   
    displayForm(0)
   }
</script>
